* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

main {
  background-color: #e9f0fd;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.header {
  max-width: 1110px;
  margin: 0 auto;
  height: 91px;
}

.link-of-logo {
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  line-height: 42px;
  font-family: "Roboto";
  letter-spacing: -1px;
  color: #555252;
  font-weight: 300;
  margin-top: 24px;
  float: left;
}

.link-of-logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.site-navigation {
  float: right;
  width: 472px;
  height: 42px;
  box-sizing: border-box;
  margin-top: 24px;
}

.menu-item {
  display: inline-block;
  margin: 14px 27px 0px 0px;
}

.menu-item:nth-last-child(1) {
  margin-right: 0px;
}

.links-of-navigation {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: #0f0101;
  font-family: "Open Sans";
  font-weight: 700;
}

.links-of-navigation:hover {
  color: #1abc9c;
}

.section-of-main-image {
  position: relative;
}

.slider {
  position: relative;
  max-width: 100%;
  min-width: 1110px;
  margin: 0 auto;
  display: block;
}

.main-image {
  width: 100%;
  height: auto;
}

.container-for-image::before {
  content: "";
  background-color: rgba(0, 0, 2, 0.52);
  width: 100%;
  height: 99.3%;
  position: absolute;
}

.slider-button {
  width: 1110px;
  height: 104px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: rgb(78, 198, 171);
  opacity: 0.65;
  cursor: pointer;
}

.left {
  float: left;
  width: 104px;
  height: 104px;
  border: 0px;
}

.right {
  float: right;
  width: 104px;
  height: 104px;
  border: 0px;
}

.arrow-icon {
  font-size: 100px;
  letter-spacing: -2px;
  line-height: 11px;
  color: #ffffff;
  font-family: "Pe";
  width: 104px;
  height: 104px;
}

.button:hover {
  opacity: 1;
}

.container-for-slider-text {
  box-sizing: content-box;
  width: 745px;
  display: block;
  margin: 0 auto;
}

.image-title {
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  margin-bottom: 40px;
}

.image-text {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  font-family: "Roboto";
}

.container-for-products {
  width: 1110px;
  margin: 0 auto;
  height: 675px;
}

.title-of-second-container {
  height: 83px;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #515151;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  padding-top: 96px;
  margin: 0px auto 152px auto;
}

.title-of-second-container::after {
  display: block;
  content: "";
  margin: 32px auto 0px auto;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
}

.item-product {
  float: left;
  width: 255px;
  height: 322px;
  position: relative;
}

.item-product:not(:last-child) {
  margin-right: 30px;
}

.product-image {
  display: block;
}

.item-product:hover .overlay {
  position: absolute;
  box-sizing: border-box;
  width: 255px;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.55);
  border: 10px solid rgba(255, 255, 255, 0.55);
}

.like {
  position: absolute;
  top: 88px;
  left: 35px;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.like:hover {
  background-color: #1abc9c;
}

.cross {
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.cross:hover {
  background-color: #1abc9c;
}

.clock {
  position: absolute;
  top: 88px;
  right: 35px;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.clock:hover {
  background-color: #1abc9c;
}

.cart {
  height: 50px;
  width: 166px;
  position: absolute;
  top: 146px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.cart:hover {
  background-color: #1abc9c;
}

.like .icon {
  width: 37px;
  height: auto;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cross .icon {
  width: 37px;
  height: 29px;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clock .icon {
  width: 37px;
  height: auto;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cart .icon {
  width: 37px;
  height: auto;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #ffffff;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.cart span {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 114px;
  height: 29px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}

.container-for-icon {
  visibility: hidden;
  cursor: pointer;
}

.item-product:hover .container-for-icon {
  visibility: visible;
}

.container-for-product-name {
  position: relative;
  width: 255px;
  height: 40px;
  background-color: #323232;
}

.product-name {
  position: absolute;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  left: 20px;
}

.container-for-product-name a {
  color: #ffffff;
}

.price {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 50px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.44);
}

.item-product:hover .container-for-product-name {
  background-color: #1abc9c;
}

.footer {
  text-align: center;
  height: 88px;
  background-color: #323232;
}

.text-of-footer {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0px;
  color: #fefefe;
  font-family: "Open Sans";
  font-weight: 400;
  vertical-align: middle;
  margin-top: 35px;
}

.footer-link {
  display: inline-block;
  color: rgb(70, 191, 169);
  vertical-align: bottom;
}
